python-telegram-bot==21.5
langchain
langchain-community
langchain-huggingface
langchain-together
langchain-text-splitters
chromadb==0.5.23
sentence-transformers==2.7.0
pypdf
pillow
transformers==4.44.0
matplotlib
numpy<2.0
sympy
nest_asyncio
