python-telegram-bot==21.5
langchain
langchain-community
langchain-together
langchain-text-splitters
chromadb==0.4.24
tokenizers==0.19.0
sentence-transformers==2.7.0
pypdf
pillow
transformers==4.44.0
matplotlib
numpy
sympy
nest_asyncio
